# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [1]:
#lambda <input1>,<input2> : <code to execute>

(lambda num: num + 2)(10)
#you need () when you have it run inline wihtout a variable

12

In [ ]:
def add_two(num):
    return num + 2

add_two(10)

#### Saving to a Variable

In [ ]:
add_two_lambda = lambda num: num + 2

add_two_lambda(20)

#### Multiple Inputs

In [2]:
(lambda num1,num2,num3: num1+ num2 + num3)(1,5,9)

15

#### Passing a Lambda into a Function

In [4]:
#create function recieves a lambda and a number
#function input decides what math operation to run
def decide_math_operation(func,num):
    return func(num)
#using lamda to add 10 to second argument
decide_math_operation(lambda x:x+10, 25)

#starting as variable
multiply_by_ten = lambda num: num * 10

#using stored lamda to multiply by ten
decide_math_operation(multiply_by_ten, 100)

1000

#### Returning a Lambda from a Function

In [7]:
def returnLamda(num1, num2):
    return lambda num3, num4: num1 + num2 + num3 + num4

add_to_15 = returnLamda(10,5)
add_to_15(100,100)
add_to_15(200,50)

265

#### If Statements within Lambdas

In [11]:
if True: 
    print('true')
    
else:
    print('false')
    
#ternary operator
#<action> if <condition> else <action if false>
print('true') if True else print('false')

(lambda num : print('even' if num %2==0 else 'odd'))(11)

true
true
odd

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [16]:
f = lambda num: num ** 3

f(2)

f(4)

64

In [17]:
f = lambda *args: [x**3 for x in args]
f(1,2,3)

[1, 8, 27]

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [18]:
map(lambda a: a**2,[1,2,3,4,5,6])

In [22]:
#use map without lambda
def cube_num(num):
    return num**3

list(map(cube_num, [1,12,100,2,4]))

[1, 1728, 1000000, 8, 64]

In [23]:
#without lambda or map

def cube_list(alist):
    output = []
    for num in alist:
        output.append(num**3)
    return output

cube_list([1,12,100,2,4])

[1, 1728, 1000000, 8, 64]

In [19]:
list(map(lambda a: a**2,[1,2,3,4,5,6]))

[1, 4, 9, 16, 25, 36]

In [20]:
[squared_num for squared_num in map(lambda a: a**2,[1,2,3,4,5,6])]

[1, 4, 9, 16, 25, 36]

In [21]:
for num in map(lambda a: a**2,[1,2,3,4,5,6]):
    print(num)

1
4
9
16
25
36

#### Using Lambda's with Map

In [24]:
#take in list of names return a list of title names

list(map(lambda name:name.title(),['ben', 'michael', 'christian', 'sima']))

['Ben', 'Michael', 'Christian', 'Sima']

In [25]:
#Take two lists (attackers, defenders) compare same position each list , if true defender is larger number

list(map(lambda a,d: d > a , [10,8,10,8], [11,10,11,5]))

[True, True, True, False]

In [30]:
letter_counts = {'a':2, 'b':3, 'c':4}
list(map(lambda k: (k,letter_counts[k]),letter_counts))

[('a', 2), ('b', 3), ('c', 4)]

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number and minus it by one in the list by using a lambda function</p>

In [55]:
[double_num for double_num in map(lambda num: (num*2)-1,[2,3,4,5])]

#list(map(lambda numbers:(numbers*2)-1, [2,3,4,5]))

#double_num = list(map(lambda a,b: ((a*2)-1 , (b*2)-1), [2,3,4,5], [6,7,8,9] ))
#print(double_num)

[3, 5, 7, 9]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [57]:
#filter(<function>->TrueorFalse>, iterable)> filter object

list(filter(lambda num: num >= 10, [11,10,9,8,12]))

[11, 10, 12]

In [58]:
' '.join(str(e) for e in filter(lambda num: num >= 10, [11,10,9,8,12]))

'11 10 12'

#### Using Lambda's with Filter()

In [80]:
absences = {
    'christian': 6,
    'sima': 5,
    'ben': 0,
    'michael':1
}

print(list(filter(lambda student: absences[student] >= 3, absences)))

#for student in filter(lambda student: absences[student] >= 3, absences):
    #place_on_probation(student)

['christian', 'sima']

In [79]:
def check_even(num):
    return num % 2 == 0

num_list = [10,2,1,8,11,141]

[num for num in filter(check_even, num_list)]

[10, 2, 8]

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [96]:
#import statistics
#find the mean of the list
#filter out the numbers that are < mean
import statistics

mean_value = statistics.mean([12,15,25,30,45,100])

print(mean_value)

print(list(filter(lambda num: num < mean_value, [12,15,25,30,45,100])))

37.833333333333336
[12, 15, 25, 30]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [99]:
sum([1,2,3,4,5])

def my_sum(num_list):
    total = 0
    for num in num_list:
        total += num
    return total

my_sum([1,2,3,4,5])

from functools import reduce

#reduce(<function>, iterable)
reduce(lambda acc, num: acc + num, [1,2,3,4,5])
#we are returning acc+num

15

#### Using Lambda's with Reduce()

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [101]:
from functools import reduce

reduce(lambda a,b: a * b, [1,3,6,4,7])

504

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

#### Implementing a Base Case

In [104]:
def find_factorial(num):
    if num == 1:
        print(f'find factorial ({num}) = {num}')
        return 1
    print(f'find factorial({num}) = {num} * find_factorial({num -1})')
    return find_factorial(num-1) * num

find_factorial(5)

find factorial(5) = 5 * find_factorial(4)
find factorial(4) = 4 * find_factorial(3)
find factorial(3) = 3 * find_factorial(2)
find factorial(2) = 2 * find_factorial(1)
find factorial (1) = 1

120

In [106]:
def find_smallest_doll(dolls):
    if dolls[0] == min(dolls):
        return dolls[0]
    return find_smallest_doll(dolls[1:])

dolls = [5,4,3,2,1]

find_smallest_doll([100,99,98])

98

#### Writing a Factorial Function

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

In [22]:
def subtract_all_numbers(num):
    if num == 1:
        print(f'subtract_all_numbers({num})')
        return num
    print(f'subtract_all_numbers({num}) = subtract_all_numbers({num-1})')
    return num - subtract_all_numbers(num - 1)

subtract_all_numbers(5)

subtract_all_numbers(5) = subtract_all_numbers(4)
subtract_all_numbers(4) = subtract_all_numbers(3)
subtract_all_numbers(3) = subtract_all_numbers(2)
subtract_all_numbers(2) = subtract_all_numbers(1)
subtract_all_numbers(1)

3

In [25]:
['bob' , 'john', 'jill', 'sue']

def create_string(name_list):
    if len(name_list) == 1:
        return name_list[0]
    return create_string(name_list[1:]) + ' ' + name_list[0]

create_string(['bob' , 'john', 'jill', 'sue'])

'sue jill john bob'

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

#### Infinite Generator

In [ ]:
# bad, never create infinite loops

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [138]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

print(list(filter(lambda empty_strings: empty_strings.strip() , places)))

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [118]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]
#use key=lambda to specify the sort function as python lambda
def name_list(author):
    author.sort(key=lambda a: a.split()[-1].lower())
    return author
print(name_list(author))

#print(list(sorted(author,key=lambda name_list: name_list.split()[-1].lower())))

['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [136]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]

#grab the elements from the tuple
list(map(lambda c: (c[0], (9/5)* c[1] + 32), places))

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`

In [257]:
def fibo_sequence(num):
    #if number is 1, return 1
    if num == 1:
        return [1]
    #returns the first two fibo numbers
    elif num == 2:
        return [1,1]
    else:
        #get the fibo sequence to num-1 and add to the list the sum of the last two elements 
        seq_list = fibo_sequence(num-1)
        #print(seq_list)
        seq_list.append(seq_list[-1] + seq_list[-2])
        #print(seq_list)
        return seq_list  

fib_list = fibo_sequence(6)

for x in range(len(fib_list)):
    print(f'Iteration {x}: {fib_list[x]}')

Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8